In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (9.2.0)

In [2]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = ""
)
mycursor = mydb.cursor(buffered=True)

In [3]:
mycursor.execute("CREATE DATABASE bus_data")

In [4]:
mycursor.execute("USE bus_data")

In [5]:
import pandas as pd
RB =pd.read_csv(r'/Users/akash/Desktop/webscrap/Final/cleaned_RB.csv')

In [ ]:
RB

In [14]:
def inserting_mysql(details):
    """
    Creates a 'bus_details' table and 
    inserts all scraped bus details into the database.
    """
    try:
        # Create table if not exists
        mycursor.execute("""
        CREATE TABLE bus_details (
            id INT AUTO_INCREMENT PRIMARY KEY,
            route_name TEXT NOT NULL,
            route_link TEXT NOT NULL,
            bus_name TEXT NOT NULL, 
            bus_type TEXT NOT NULL,
            departing_time TIME,
            duration TEXT NOT NULL,
            reaching_time TIME,
            star_rating FLOAT NULL,
            price DECIMAL(10,2) NULL,
            seat_availability INT NULL
        )
        """)

        # Insert each bus route detail
        for i in details:
            mycursor.execute("""
            INSERT INTO bus_details (
                route_name, route_link,
                bus_name, bus_type,
                departing_time, duration, reaching_time,
                star_rating, price,
                seat_availability
            ) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
            """,
            (
                i['route_name'], i['route_link'],
                i['bus_name'], i['bus_type'],
                i['departing_time'], i['duration'], i['reaching_time'],
                i['star_rating'], i['price'], 
                i['seat_availability']
            )
            )
        mydb.commit()
    except mysql.connector.Error as e:
        print(f"inserting_mysql Error: {e}")

final = RB.to_dict('records')
inserting_mysql(final)